<div *ngFor="let student of _students;let i = index;" class="students">

  <button class="students__name"
          (click)="onStudentClick(student)">
    {{student.name}} </button>
  <span class="students__help" appTooltipDirective [tooltipTemplate]="tooltipTemplate"><mat-icon>help</mat-icon></span>

  <ng-template #tooltipTemplate>
    <div class="students__tooltip">
      <div *ngIf="student.name"><span>Name :</span> {{student.name}}</div>
      <div *ngIf="student.age"><span>Age:</span> {{student.age}}</div>
      <div *ngIf="student.gender"><span>Gender:</span> {{student.gender}}</div>
      <div><span>Sports:</span> <span>{{student.sports.join(',')}} </span></div>
    </div>
  </ng-template>
</div>
