.students {
  display: inline-block;
  margin: 10px;
  position: relative;

  &__help {
    cursor: pointer;
  }

  &__name {
    cursor: default;
    color: white;
    border-radius: 3px;
    padding: 10px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background-color: #565454;
  }

  .mat-icon {
    font-size: 16px;
    position: absolute;
    top: 25%;
  }

  &__tooltip {
    position: absolute;
    left: 5%;
    top: 110%;
    padding: 10px;
    background: grey;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .6);
    overflow: auto;
    color: white;
    min-width: 150px;
    border-radius: 10px;
    z-index: 1;

    div {
      padding: 5px;

      span:first-child {
        font-weight: bold;
      }
    }
  }
}

