.student-detail {
  margin-left: 5%;

  &__tooltip {
    position: absolute;
    left: 10%;
    top: 150%;
    padding: 10px;
    background: grey;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .6);
    overflow: auto;
    z-index: 1000;
    color: white;
  }

}
