.class-list{
  &__school-class{
    padding: 5px;
  }
}


[tooltipDirective] {
  position: relative;
}

.app-tooltip {
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 10px;
  background: red;
  box-shadow: 0 2px 1px rgba(0,0,0,.6);
}

