<mat-drawer-container class="drawer-container" autosize [hasBackdrop]="false">
  <mat-drawer #drawer class="drawer-container__side" position="end">
    <ng-container *ngIf="student">
      <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="drawer-container__side__content">
        <div class="form-group drawer-container__side__content__field">
          <label for="username">Name</label>
          <input type="text"
                 class="form-control"
                 id="username"
                 formControlName="username">
        </div>

        <div class="form-group drawer-container__side__content__field">
          <label for="age">Age</label>
          <input type="number"
                 class="form-control"
                 id="age"
                 formControlName="age"
          >
        </div>

        <div class="form-group drawer-container__side__content__field">
          <label for="gender">Gender</label>
          <input type="text"
                 class="form-control"
                 id="gender"
                 formControlName="gender"
          >
        </div>

        <div class="form-group drawer-container__side__content__field">
          <label for="sports">Sports</label>
          <input type="text"
                 class="form-control"
                 id="sports"
                 formControlName="sports">
        </div>

        <button class="mat-raised-button drawer-container__side__content__submit" type="submit">Submit</button>

      </form>
      <div class="drawer-container__side__close" (click)="drawer.close()">
        <mat-icon>clear</mat-icon>
      </div>
    </ng-container>
  </mat-drawer>

  <mat-drawer-content>
    <app-school-class-list></app-school-class-list>
  </mat-drawer-content>

</mat-drawer-container>

<app-loader></app-loader>


