.sidebar-opener {
  cursor: pointer;
}

.sidebar-slider {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  transform: translateX(100%);
  transition: ease-in-out 300ms transform;
  width: 300px;

  &__sidebar-slide-in {
    transform: translateX(0%);
    transition: ease-in-out 600ms transform;
  }

  &__sidebar-close {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    cursor: pointer;
    padding: 16px;
  }

  &__sidebar-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    font-size: 16px;
    padding: 16px;
    height: 100%;

    &__fields {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      label {
        margin: 3%;
        width: 100px;
      }

      input {
        text-align: center;
        width: 145px;
      }
    }
  }
}
