.schoolClasses {
  width: 50%;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 80%;
  }

  &__accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 10px;

    @media screen and (max-width: 992px) {
      width: 80%;
    }

  }

  &__accordion:hover, &__active {
    background-color: #ccc;
  }

  &__accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: left;
    margin-right: 10px;
  }

  &__active:after {
    content: '\2212';
  }

  &__panel {
    background-color: white;
    width: 50%;
    transition: 0.4s;
    margin-bottom: 10px;

    @media screen and (max-width: 768px) {
      width: 80%;
    }
  }
}


.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
