.classList {
  background-color: #fafafa;

  &__student_btn {
    display: none;
  }

  &__student {

    &__name {
      border: 2px solid grey;
      padding: 5px 15px;
      cursor: pointer;
    }

    &__icon {
      position: relative;
      cursor: pointer;

      &__contact {
        position: relative;
        top: 4px;
        left: 2px;
        font-size: 20px;
        color: grey;
      }
    }


    &__tooltip_details {
      position: absolute;
      left: 5%;
      top: 100%;
      padding: 10px;
      background: grey;
      box-shadow: 0 2px 1px rgba(0, 0, 0, .6);
      overflow: auto;
      z-index: 1000;
      color: white;
      min-width: 150px;
      border-radius: 10px;

      div {
        padding: 5px;

        span:first-child {
          font-weight: bold;
        }
      }
    }
  }

}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
