<h1 class="drawer-container__heading">Student Information System</h1>
<h2>Class List</h2>

<div *ngFor="let item of schoolClasses;" class="schoolClasses">

  <button class="schoolClasses__accordion" (click)="onClassClick($event, item.name)">
    Class {{item.name}}</button>

  <div class="schoolClasses__panel" [hidden]="!item.isActive">
    <app-section-list *ngIf="classExpandState[item.name]"
                      [schoolClassName]="item.name"
                      (updateSectionList)="updateSectionList(item.name, $event)"
    ></app-section-list>
  </div>
</div>

<app-toaster-container></app-toaster-container>
