<div *ngFor="let item of schoolClasses;" class="schoolClasses">
  <button class="schoolClasses__accordion" (click)="onClassClick($event, item.name)">
    Class {{item.name}}</button>
  <div class="schoolClasses__panel" hide="!item.isActive">
    <app-section-list [sections]="item.sections" [schoolClasses]="schoolClasses"
                      [schoolClass]="item"
                      *ngIf="(item.sections && item.sections.length)"></app-section-list>
  </div>
</div>


<div *ngIf="isLoading$| async">
  <mat-spinner class="spinner"></mat-spinner>
</div>
