<mat-list style="margin-left:30px;">

  <h3 style="margin-left:30px;">Section List</h3>

  <div *ngFor="let section of sections">

    <mat-list-item (click)="onSectionClick(schoolClass.name, section.name)">{{ section.name }}</mat-list-item>

    <mat-list style="margin-left:100px;">
      <button appTooltipDirective [parametroPlantilla]="tooltipTemplate" mat-raised-button
              *ngFor="let student of section.students">
        {{student.name}}
        <ng-template #tooltipTemplate class="class-tooltip">
          <div style="position: absolute">
            Name : {{student.name}}
            Age: {{student.age}}
          </div>
        </ng-template>

      </button>
    </mat-list>
  </div>
</mat-list>
